.happyfont {
  font-family: 'Knewave', cursive;
  font-size: 30px;
  position: absolute;
	top: 20px;
	left: 100px;
}
.tagline {
	font-family: 'Knewave', cursive;
	font-size: 13px;
	position: absolute;
	  top: 50px;
	  left: 100px;


}

td {
  width: 100px;
}

.wrapper {
	width: 70%;
	margin-left: 200px;
	margin-top: 50px;
}

h2 {
	font-size: 15px;
}

.floatright .calendar {
	width: 40%;
	float: left;
	margin-right: 200px;
	
}

.floatright .calendar h2 {
	width: 400px;
	/*position: absolute;
	right: 500px;*/
}

.logo img {
	height: 20px;
}

.navbar-default {
	background-color: white;
	border-color: white;
}

#oldprofile {
	position: auto;
	width: 30%;
}
